<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <base data-ice="baseUrl" href="../../../">
  <title data-ice="title">src/components/TimerForm.js | API Document</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <link type="text/css" rel="stylesheet" href="css/prettify-tomorrow.css">
  <script src="script/prettify/prettify.js"></script>
  
  
  <script src="script/manual.js"></script>
</head>
<body class="layout-container" data-ice="rootContainer">

<header>
  <a href="./">Home</a>
  
  <a href="identifiers.html">Reference</a>
  <a href="source.html">Source</a>
  
  
  <div class="search-box">
  <span>
    <img src="./image/search.png">
    <span class="search-input-edge"></span><input class="search-input"><span class="search-input-edge"></span>
  </span>
    <ul class="search-result"></ul>
  </div>
</header>

<nav class="navigation" data-ice="nav"><div>
  <ul>
    
  <li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">components</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/components/EditableTimer.js~EditableTimer.html">EditableTimer</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/components/EditableTimerList.js~EditableTimerList.html">EditableTimerList</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/components/Timer.js~Timer.html">Timer</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/components/TimerActionButton.js~TimerActionButton.html">TimerActionButton</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/components/TimerForm.js~TimerForm.html">TimerForm</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/components/TimersDashboard.js~TimersDashboard.html">TimersDashboard</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/components/ToggleableTimerForm.js~ToggleableTimerForm.html">ToggleableTimerForm</a></span></span></li>
<li data-ice="doc"><div data-ice="dirPath" class="nav-dir-path">helpers</div><span data-ice="kind" class="kind-class">C</span><span data-ice="name"><span><a href="class/src/helpers/serverCommunication.js~ServerCommunication.html">ServerCommunication</a></span></span></li>
<li data-ice="doc"><span data-ice="kind" class="kind-typedef">T</span><span data-ice="name"><span><a href="typedef/index.html#static-typedef-APITimer">APITimer</a></span></span></li>
</ul>
</div>
</nav>

<div class="content" data-ice="content"><h1 data-ice="title">src/components/TimerForm.js</h1>
<pre class="source-code line-number raw-source-code"><code class="prettyprint linenums" data-ice="content">import React from &apos;react&apos;;

export default class TimerForm extends React.Component {

    state = {
        titleError: false,
        projectError: false
    };

    handleSubmit = () =&gt; {
        const titleError = !this.refs.title.value.trim().length;
        const projectError = !this.refs.project.value.trim().length;
        this.setState({
            titleError,
            projectError
        });
        if (!titleError &amp;&amp; !projectError) {
            this.props.onFormSubmit({
                id: this.props.id,
                title: this.refs.title.value,
                project: this.refs.project.value
            });
        }
    };

    render() {
        const submitText = this.props.id ? &apos;Update&apos; : &apos;Create&apos;;
        const titleClass = this.state.titleError ? &apos;field error&apos; : &apos;field&apos;;
        const projectClass = this.state.projectError ? &apos;field error&apos; : &apos;field&apos;;
        return (
            &lt;div className=&apos;ui centered card&apos;&gt;
                &lt;div className=&apos;content&apos;&gt;
                    &lt;div className=&apos;ui form&apos;&gt;
                        &lt;div className={titleClass}&gt;
                            &lt;label&gt;Title&lt;/label&gt;
                            &lt;input type=&apos;text&apos; ref=&quot;title&quot; defaultValue={this.props.title}/&gt;&lt;/div&gt;
                        &lt;div className={projectClass}&gt;
                            &lt;label&gt;Project&lt;/label&gt;
                            &lt;input type=&apos;text&apos; ref=&quot;project&quot; defaultValue={this.props.project}/&gt;&lt;/div&gt;
                        &lt;div className=&apos;ui two bottom attached buttons&apos;&gt;
                            &lt;button
                                className=&apos;ui basic blue button&apos;
                                onClick={this.handleSubmit}
                            &gt;
                                {submitText}
                            &lt;/button&gt;
                            &lt;button
                                className=&apos;ui basic red button&apos;
                                onClick={this.props.onFormClose}
                            &gt;
                                Cancel
                            &lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt; );
    }
}</code></pre>

</div>

<footer class="footer">
  Generated by <a href="https://esdoc.org">ESDoc<span data-ice="esdocVersion">(0.4.8)</span></a>
</footer>

<script src="script/search_index.js"></script>
<script src="script/search.js"></script>
<script src="script/pretty-print.js"></script>
<script src="script/inherited-summary.js"></script>
<script src="script/test-summary.js"></script>
<script src="script/inner-link.js"></script>
<script src="script/patch-for-local.js"></script>
</body>
</html>
